---
import Layout from '../layouts/Layout.astro';
import TagGroup from '../components/TagGroup.astro';
import '../styles/global.css';

export async function getStaticPaths() {
  const posts = await Astro.glob('../posts/*.md');

  return posts.map(post => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
  <div class="page-content">
    <div class="todo-card">
      <h2 class="title">{frontmatter.title}</h2>
      <TagGroup />
      <Content />
      <a class="btn btn-back" href="/">Go Back</a>
    </div>
  </div>
</Layout> 

<style lang="scss">
  .page-content {
		margin: 0 25%;

    .todo-card {
      padding: 28px 30px;
      box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
      margin-bottom: 70px;
      line-height: 20px;

      &:hover {
        transform: scale(102%, 102%);
        transition: 0.5s ease-out;
      }

      .title {
        padding: 0;
        color: #e53151;
      }

      .btn {
        padding: 5px 10px;
        background: #f2f2f2;
        border-radius: 4px;
        line-height: 24px;
        color: #888888;
        
        &:hover {
          color: white;
          background:  #e53151;
        }
      }
    }
	}
</style>