<header>
  <nav>
    <a class="nav-link nav-home" href="/index">Home</a>
    <a class="nav-link nav-blog" href="/blog">Blog</a>
  </nav>
</header>

<style lang="scss">
  nav {
    margin: 0 25%;
    padding: 50px 0 70px 0;

    .nav-link {
      font-weight: 700;
    }

    .nav-home {
      color: #e63151;

      &:hover {
        color: #ff002c;
        font-size: 17px;
        transition: width 2s;
      }
    }

    .nav-blog {
      color: #555555;
      padding-left: 36px;

      &:hover {
        color: black;
        font-size: 17px;
        transition: width 2s;
      }
    }
  }

  @media only screen and (max-width: 1500px) {
    nav {
      margin: 0 20%;
    }
  }

  @media only screen and (max-width: 1000px) {
    nav {
      margin: 0 15%;
    }
  }
</style>
