---
const isBlog = Astro.url.pathname.includes('/blog');
const isProject = Astro.url.pathname.includes('/project');

function getPathname() {
  if (isBlog===true) {
    return '/blog';
  } else if (isProject===true) {
    return '/project';
  } else {
    return Astro.url.pathname;
  }
}

const pathname = getPathname();
---

<header>
  <nav>
    <a class:list={['nav-link', {'nav-link--active':pathname==='/'}]} 
      href="/">Home</a>
    <a class:list={['nav-link', {'nav-link--active':pathname==='/project'}]} 
      href="/project">Projects</a>
    <a class:list={['nav-link', {'nav-link--active':pathname==='/blog'}]} 
      href="/blog">Blog</a>
  </nav>
</header>

<style lang="scss">
  @import '../styles/variables.scss';
  nav {
    margin: 0 25%;
    padding: 50px 0 70px 0;

    .nav-link {
      font-weight: 700;
      color: $grey;
      padding-right: 36px;

      &:visited {
        color: initial;
      }
    }

    .nav-link--active {
      color: $red;

      &:visited {
        color: $red;
      }
    }
  }

  @media only screen and (max-width: 1500px) {
    nav {
      margin: 0 20%;
    }
  }

  @media only screen and (max-width: 1000px) {
    nav {
      margin: 0 15%;
    }
  }

  @media only screen and (max-width: 650px) {
    nav {
      margin: 0 10%;
    }
  }
</style>
