---
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<label class="tag-label label-js" for="tag-js">{label}</label>

<style lang="scss">
  @import '../styles/variables.scss';
  .tag-label {
    padding: 5px 10px;
    background: #f2f2f2;
    border-radius: 4px;
    line-height: 24px;
    color: $lighter-grey;
  }
</style>
